- if can_issue_hit(current_user, target)
  = link_to "Issue Hit", new_hit_path(:target_id => target.id)
  
/ - if can_accept_hit(current_user, target)
= link_to "Accept Hit", accept_hit_path(target.target_hit)
/   
/ - if can_complete_hit(current_user, target)
= link_to "Hit Completed", complete_hit_path(target.target_hit)
/   
/ - if can_fail_hit(current_user, target)
= link_to "Hit Failed", fail_hit_path(target.target_hit)

- if can_take_no_action(current_user, target)
  = target.hit.state